

.login{
	width: 450px;
	margin: auto;
}

.create_account{
	width: 600px;
}

.login .login_inner{
	padding: 25px;
    border: 1px #cbcbcb solid;
    border-radius: 5px;
}

.login h1{
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.padding0{
	padding: 0;
}

.login button{
	width: 100%;
	margin-top: 15px;
}

label.error{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 13px;
	color: #ff0000;
	font-weight: 400;	
}

label{
	font-size: 14px;
    font-weight: 500;
}

.create_account_link{
	margin-top: 10px;
	display: block;
	text-align: center;
}

.create_account_link a{
	margin-left: 5px;
}

.navbar {
	padding: 0 1rem;
}

.navbar .nav-link { 
    padding: 1rem 1.5rem !important;
}

.navbar .nav-link:hover{ 
    background: #5d5d5d;
}  

.user_name{  
    border-left: 1px #555 solid; 
}

.navbar .user_name a:hover{ 
	color: #ffffff;
	background: transparent;
}

.navbar .user_name a{ 
	padding: 1rem !important;
}

.nav-item:last-child{ 
	display: flex; 
	align-items: center;
}

.navbar-nav .dropdown-menu{
	background-color: #343a40;  
	margin-top: 0;
}

.dropdown-item{
	color: #ffffff;
}

.box_form{
	padding: 25px;
    border: 1px #e1e1e1 solid;
}

.navbar-dark .navbar-nav .nav-link{
	color: #ffffff; 
}

.dropdown-item:hover{
	color: #ffffff;
	background: #5d5d5d;
}

.page{
	padding: 30px 0;
}

.page .top-header{
	overflow: hidden;
	width: 100%; 
	margin-bottom: 20px;
}

.page .top-header h2{
	font-size: 26px;
	font-weight: 700;
	float: left;
}

.page .top-header a{
	float: right;
}

.page .edit_item{
	margin-right: 10px;
}


.editable_table tbody tr td:last-child a{
	/*text-align: center;*/
	font-size: 14px;
}

.modal-body ul {
	padding-left: 15px;
}

.modal-body ul li{
	list-style-type: none;
}

.modal-body ul li label{
	font-weight: 700;
	width: 130px;
}

.input-group>.input-group-append>.input-group-text{
	background: #fff;
}


.input-group.mb-3 label.error{
	position: absolute;
    top: 37px;

}

.dataTables_wrapper .dataTables_filter input { 
    border: 1px #bebebe solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0 5px !important;
}

.car_details{
	margin-left: -25px;	
	margin-right: -25px; 
    padding: 15px;
    margin-top: 20px;	
    margin-bottom: 20px;	
    border-top: 1px #e1e1e1  solid; 

}

form h5{
	margin-bottom: 15px;	
}